.introTextContent {
    background-color: $colorWhite;
    &.gridBoxes > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: $sbp3_tablet) {grid-template-columns: 1fr;}
        gap: 60px;
    }
    > div {
        display: flex;
        @media (max-width: $sbp3_tablet) {flex-wrap: wrap;}
        gap: 60px;

        .introTextWrap {
            flex: 1 1 50%;
            background-color: $colorWhite;
            -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3); 
            box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
            > img {
                width: 100%;
                aspect-ratio: 16/10;
                object-fit: cover;
            }
            > div {
                padding: 40px;
                width: 100%;
                text-align: center;
                // word-break: break-all;
                overflow-wrap: break-word;
                > :first-child {
                    margin-top: 0;
                }
                &:first-of-type {
                    text-align: left;
                }
                a:not(.ctaBtn) {
                    color: $colorBlack;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }                
            }
        }
    }
}